<h1 style="text-align:center;">Bienvenu sur Fisco Serenity App</h1>
<p style="text-align:center;"><i>La sérénité comptable à porté de main</i></p>
</br>
<% if current_user %>
  <p style="text-align:center;"> Vous êtes connecté avec cette adresse mail: <b><%= current_user.email %></b>.</p>
<% else %>
  <%= link_to "Se connecter", login_path %> or
  <%= link_to "S'inscrire", signup_path %> 

<% end %>