<Span>
<% if Categ.find_by_user(current_user.email) == nil then %>
<% p = Categ.new ; p.nature = "Loyer/Rétrocession Cabinet" ; p.user = current_user.email ; p.souscat = "Local profesionnel" ; p.deductibilite = 100 ; p.save  %>
<% p = Categ.new ; p.nature = "Produits d'entretiens et consommables alimentaires (café,...)" ; p.user = current_user.email ; p.souscat = "Local profesionnel" ; p.deductibilite = 100 ; p.save  %>
<% p = Categ.new ; p.nature = "Frais de construct./transfo./aménagement/Répa - Local PRO" ; p.user = current_user.email ; p.souscat = "Local profesionnel" ; p.deductibilite = 100 ; p.save  %>
<% p = Categ.new ; p.nature = "Frais mensuels/annuels Bureau/cab Pro" ; p.user = current_user.email ; p.souscat = "Local profesionnel" ; p.deductibilite = 100 ; p.save  %>

<% p = Categ.new ; p.nature = "Frais de véhicule" ; p.user = current_user.email ; p.souscat = "Véhicule(s)" ; p.deductibilite = 52.5 ; p.save  %>
<% p = Categ.new ; p.nature = "Carburant" ; p.user = current_user.email ; p.souscat = "Véhicule(s)" ; p.deductibilite = 52.5 ; p.save  %>
<% p = Categ.new ; p.nature = "Frais à 100% - Parking, GPS, Kit Main Libre, Intérêt,... (cfr. remarque)" ; p.user = current_user.email ; p.souscat = "Véhicule(s)" ; p.deductibilite = 100 ; p.save  %>

<% p = Categ.new ; p.nature = "Frais de transport: Péage, Avion, Traims, trams, Taxis, location, etc." ; p.user = current_user.email ; p.souscat = "Formations et déplacements" ; p.deductibilite = 100 ; p.save  %>
<% p = Categ.new ; p.nature = "Taxis et voiture de location" ; p.user = current_user.email ; p.souscat = "Formations et déplacements" ; p.deductibilite = 100 ; p.save  %>
<% p = Categ.new ; p.nature = "Frais de formation" ; p.user = current_user.email ; p.souscat = "Formations et déplacements" ; p.deductibilite = 100 ; p.save  %>
<% p = Categ.new ; p.nature = "Hébergement" ; p.user = current_user.email ; p.souscat = "Formations et déplacements" ; p.deductibilite = 100 ; p.save  %>
<% p = Categ.new ; p.nature = "Nourriture durant formation" ; p.user = current_user.email ; p.souscat = "Formations et déplacements" ; p.deductibilite = 69 ; p.save  %>

<% p = Categ.new ; p.nature = "Téléphonie professionnel" ; p.user = current_user.email ; p.souscat = "Frais de bureau, publicité, restaurant" ; p.deductibilite = 100 ; p.save  %>
<% p = Categ.new ; p.nature = "Ordinateur professionnel" ; p.user = current_user.email ; p.souscat = "Frais de bureau, publicité, restaurant" ; p.deductibilite = 100 ; p.save  %>
<% p = Categ.new ; p.nature = "Frais de bureau/cabinet" ; p.user = current_user.email ; p.souscat = "Frais de bureau, publicité, restaurant" ; p.deductibilite = 100 ; p.save  %>
<% p = Categ.new ; p.nature = "Publicité/Site Web" ; p.user = current_user.email ; p.souscat = "Frais de bureau, publicité, restaurant" ; p.deductibilite = 100 ; p.save  %>
<% p = Categ.new ; p.nature = "Petit matériel non amorti / entretiens / réparation" ; p.user = current_user.email ; p.souscat = "Frais de bureau, publicité, restaurant" ; p.deductibilite = 100 ; p.save  %>
<% p = Categ.new ; p.nature = "Logiciel informatique" ; p.user = current_user.email ; p.souscat = "Frais de bureau, publicité, restaurant" ; p.deductibilite = 100 ; p.save  %>
<% p = Categ.new ; p.nature = "Livres, publication scientifique, abonnement,..." ; p.user = current_user.email ; p.souscat = "Frais de bureau, publicité, restaurant" ; p.deductibilite = 100 ; p.save  %>
<% p = Categ.new ; p.nature = "Repas dans le cadre d'une journée pro" ; p.user = current_user.email ; p.souscat = "Frais de bureau, publicité, restaurant" ; p.deductibilite = 69 ; p.save  %>
<% p = Categ.new ; p.nature = "Frais de représentation, restaurants" ; p.user = current_user.email ; p.souscat = "Frais de bureau, publicité, restaurant" ; p.deductibilite = 69 ; p.save  %>
<% p = Categ.new ; p.nature = "Cadeaux d'affaires" ; p.user = current_user.email ; p.souscat = "Frais de bureau, publicité, restaurant" ; p.deductibilite = 50 ; p.save  %>

<% p = Categ.new ; p.nature = "Responsabilité civile et Protection juridique" ; p.user = current_user.email ; p.souscat = "Assurances et cotisations sociales" ; p.deductibilite = 100 ; p.save  %>
<% p = Categ.new ; p.nature = "Assurance Revenu Garanti (Maladie/Invalidité...)" ; p.user = current_user.email ; p.souscat = "Assurances et cotisations sociales" ; p.deductibilite = 100 ; p.save  %>
<% p = Categ.new ; p.nature = "Cotisations sociales personnelles (Acerta, Xerius, Partena, ...)" ; p.user = current_user.email ; p.souscat = "Assurances et cotisations sociales" ; p.deductibilite = 100 ; p.save  %>
<% p = Categ.new ; p.nature = "Cotisation de retraite complémentaire indépendant (PLCI)" ; p.user = current_user.email ; p.souscat = "Assurances et cotisations sociales" ; p.deductibilite = 60 ; p.save  %>

<% p = Categ.new ; p.nature = "Frais financiers (carte de crédit, compte pro, intérêt pro,...)" ; p.user = current_user.email ; p.souscat = "Frais divers" ; p.deductibilite = 100 ; p.save  %>
<% p = Categ.new ; p.nature = "Frais de vêtements profesionnels" ; p.user = current_user.email ; p.souscat = "Frais divers" ; p.deductibilite = 100 ; p.save  %>
<% p = Categ.new ; p.nature = "Ristournes accordées aux clients" ; p.user = current_user.email ; p.souscat = "Frais divers" ; p.deductibilite = 100 ; p.save  %>
<% p = Categ.new ; p.nature = "Défense professionnelle" ; p.user = current_user.email ; p.souscat = "Frais divers" ; p.deductibilite = 100 ; p.save  %>
<% p = Categ.new ; p.nature = "Honoraire d'un conseiller fiscal, assistance juridique, etc." ; p.user = current_user.email ; p.souscat = "Frais divers" ; p.deductibilite = 100 ; p.save  %>

<% p = Categ.new ; p.nature = "Matériel et mobilier - Amorti" ; p.user = current_user.email ; p.souscat = "Amortissements" ; p.deductibilite = 100 ; p.save  %>
<% p = Categ.new ; p.nature = "Logiciel spécifique - Amorti" ; p.user = current_user.email ; p.souscat = "Amortissements" ; p.deductibilite = 100 ; p.save  %>
<% p = Categ.new ; p.nature = "Voitures - Amorti" ; p.user = current_user.email ; p.souscat = "Amortissements" ; p.deductibilite = 52.5 ; p.save  %>
<% p = Categ.new ; p.nature = "Immeubles - Amorti" ; p.user = current_user.email ; p.souscat = "Amortissements" ; p.deductibilite = 20 ; p.save  %>
<% p = Categ.new ; p.nature = "Autres frais - Amorti" ; p.user = current_user.email ; p.souscat = "Amortissements" ; p.deductibilite = 100 ; p.save  %>
<% end %>	
</Span>

<h1 style="text-align:center;">Bienvenu sur Fisco Serenity App</h1>
<p style="text-align:center;"><i>La sérénité comptable à porté de main</i></p>
</br>
<% if current_user %>
  <p style="text-align:center;"> Vous êtes connecté avec cette adresse mail: <b><%= current_user.email %></b>.</p>
<% else %>
  <%= link_to "Se connecter", login_path %> or
  <%= link_to "S'inscrire", signup_path %> 

<% end %>