@import "bootstrap";

body {
  background-color: #f4f4f4;
}

table {
  width: 100%;
  background-color: #ffffff;
}

col {
  border: solid 2px;
  border-color: #f4f4f4;
}

tr {
  border: solid 2px;
  border-color: #f4f4f4;
}

.dix {
  width: 10%;
}
.vingt {
  width: 20%;
}

.cinq {
  width: 5%;
}

.quarante {
  width: 40%;
}

